---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import GitHubIcon from '../icons/GitHub.astro';
import LinkedlnIcon from '../icons/Linkedln.astro';
import MailIcon from '../icons/Mail.astro';
import MastodonIcon from '../icons/Mastodon.astro';
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Briefcase from '../icons/Briefcase.astro';
import Pill from '../icons/Pill.astro';
import Code from '../icons/Code.astro';
import Profile from '../icons/Profile.astro';

let meName = 'appjavadev';
---

<Layout 
title="AppJaVaDev Portfolio | Web Development and Mechatronic Projects"
description='Web Development and IoT Projects'

>
	<main class="px-12">
		<SectionContainer id="top" >
			<Profile />
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hola, soy 
				{meName}
				<a
				href="/" 
				target="" 
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[900px]">
				Desarrollador Web, Programador y Creador de Prototipos Mecatrónicos. <span class="text-red-200/50">De Cali, Colombia.</span>
				<span class="opacity-60">Enfocado en construir aplicaciones útiles de manera eficiente y sostenible.</span>
			</h2>

			<nav class="flex gap-3 mt-6 flex-wrap">
				
					<SocialPill href="https://github.com/appjava">
						<GitHubIcon class="size-5" />
						
					</SocialPill>
					<SocialPill href="https://www.linkedin.com" >
						<LinkedlnIcon class="size-5" />
						
					</SocialPill>
					<SocialPill href="https://mastodon.social/@appjavadev" >
						<MastodonIcon class="size-5" />
						
					</SocialPill>
					<SocialPill href="mailto:projects.appjavadev@gmail.com" >
						<MailIcon class="size-5" />
						projects.appjavadev@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience" >
			<h2 class="text-2xl md:text-4xl font-bold mb-6 flex gap-x-3 items-center lg:mt-6">
				<Briefcase class="size-9 "/>
				Experiencia Web
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects" >
			<h2 class="text-2xl md:text-4xl font-bold mb-6 flex gap-x-3 items-center">
				<Code class="size-12"/>
				Proyectos Tecnológicos
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="skills" >
			
			<h2 class="text-2xl md:text-4xl font-bold mb-[60px] mt-[30px] flex gap-x-3 items-center">
				<Pill class="size-6 "/>
				Destrezas Adquiridas
			</h2>
			<nav class="flex gap-3 mt-6 mb-12 flex-wrap justify-center">
			<Skills />
			</nav>
		</SectionContainer>
	</main>
</Layout>

