---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import GitHubIcon from '../icons/GitHub.astro';
import LinkedlnIcon from '../icons/Linkedln.astro';
import MailIcon from '../icons/Mail.astro';
import PatreonIcon from '../icons/Patreon.astro';
import MastodonIcon from '../icons/Mastodon.astro';
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import Skills from '../components/Skills.astro';
import Projects from '../components/Projects.astro';
import Briefcase from '../icons/Briefcase.astro';
import Pill from '../icons/Pill.astro';
import Code from '../icons/Code.astro';
import Profile from '../icons/Profile.astro';

let meName = '{appjava.dev}';
---

<Layout 
title="AppJaVaDev Portfolio | Web Development and Mechatronic Projects"
description='Web Development and IoT Projects'

>
	<main class="px-12">
		<SectionContainer id="top" >
			<Profile />
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold gap-x-4 pb-6 lg:pb-10">
				Hello, I'm 
				<span class="text-yellow-200">{meName}</span>
				
				<!--Convierto ideas complejas en productos tecnológicos funcionales y sostenibles.-->
				<!--<a
				href="/" 
				target="" 
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Disponible</Badge>
				</a>-->
			</h1>
			<!--<h2 class="text-xl lg:text-2xl text-wrap max-w-[840px] min-w-[270px]">
				Soy un desarrollador de productos que une el mundo físico y el digital. Mi especialidad es la convergencia entre el desarrollo Full-Stack (Python, Node.js, Astro), el diseño mecatrónico (ESP32, Arduino, Micropython) y el modelado 3D fotorrealista (Blender), un conjunto de habilidades que me permite liderar proyectos desde la concepción del hardware hasta la interfaz de usuario final.

				Mi pasión es construir soluciones que no solo sean escalables y eficientes, sino que también aporten un valor tangible, especialmente en el sector de la energía renovable y la domótica. Busco roles donde pueda aplicar mi visión sistémica para construir, prototipar y lanzar tecnología innovadora.
			</h2>-->
			<h2 class="text-xl lg:text-2xl text-wrap max-w-[840px] min-w-[270px]">
				3D Modeler, Programmer, and Web Developer. <span class="text-red-200/50">From Cali, Colombia.</span>
				Experienced in developing scalable, efficient, and sustainable technological solutions.
				<span class="opacity-60">Focused on building innovative, functional, and reliable mechatronic 
					devices that promote sustainability in the technology sector.</span>
			</h2>

			<nav class="flex gap-3 mt-6 flex-wrap">
				
					<SocialPill href="https://github.com/appjava" target="_blank">
						<GitHubIcon class="size-5" />
						
					</SocialPill>
					<SocialPill href="https://www.linkedin.com/in/ingjava" target="_blank">
						<LinkedlnIcon class="size-5" />
						
					</SocialPill>
					<SocialPill href="https://mastodon.social/@appjavadev" target="_blank">
						<MastodonIcon class="size-5" />
						
					</SocialPill>
					<!--<SocialPill href="https://patreon.com/appjavadev" target="_blank">
						<PatreonIcon class="size-5" />
						
					</SocialPill>-->
					
					<SocialPill href="mailto:projects.appjavadev@gmail.com" >
						<MailIcon class="size-5" />
						projects.appjavadev@gmail.com
					</SocialPill>
					
			</nav>
		</SectionContainer>
		<SectionContainer id="experience" >
			<h2 class="text-2xl md:text-4xl font-bold mb-6 flex gap-x-3 items-center lg:mt-6">
				<Briefcase class="size-9 "/>
				Experience
			</h2>
			<Experience />
		</SectionContainer>
		<SectionContainer id="projects" >
			<h2 class="text-2xl md:text-4xl font-bold mb-6 flex gap-x-3 items-center">
				<Code class="size-12"/>
				Technological Projects
			</h2>
			<Projects />
		</SectionContainer>
		<SectionContainer id="skills" >
			
			<h2 class="text-2xl md:text-4xl font-bold mb-[60px] mt-[30px] flex gap-x-3 items-center">
				<Pill class="size-6 "/>
				Skills Acquired
			</h2>
			<nav class="flex gap-3 mt-6 mb-12 flex-wrap justify-center">
			<Skills />
			</nav>
		</SectionContainer>
	</main>
</Layout>

