---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Badge from '../components/Badge.astro';
import SectionContainer from '../components/SectionContainer.astro';
import GitHubIcon from '../icons/GitHub.astro';
import LinkedlnIcon from '../icons/Linkedln.astro';
import MailIcon from '../icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro'
import Experience from '../components/Experience.astro';
import Briefcase from '../icons/Briefcase.astro';
---

<Layout 
title="AppJaVaDev Portfolio | Web Development and Mechatronic Projects"
description='Web Development and IoT Projects'

>
	<main>
		<SectionContainer id="top" class="py-36 pb-12">
			<img 
				class="rounded-full size-12 mb-4"
				src="/src/img/photoCV.png" 
				alt="AppJaVaDev Photo" 
			/>
			<h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-6">
				Hola, soy appjavadev <a
				href="#" 
				target="" 
				rel="noopener"
				class="flex justify-center items-center"
				>
					<Badge>Disponible para trabajar</Badge>
				</a>
			</h1>
			<h2 class="text-xl text-wrap">
				Desarrollador Web y Creador de Prototipos Mecatrónicos. <span class="text-red-200/50">De Cali, Colombia.</span><br>
				<span class="opacity-60">Enfocado en construir aplicaciones útiles de manera sostenible.</span>
			</h2>

			<nav class="flex gap-x-3 mt-12">
				
					<SocialPill href="#">
						<GitHubIcon class="size-6" />
						GitHub
					</SocialPill>
					<SocialPill href="#" >
						<LinkedlnIcon class="size-6" />
						Linkedln
					</SocialPill>
					<SocialPill href="#" >
						<MailIcon class="size-6" />
						appjavadev2019@gmail.com
					</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer id="experience">
			<h2 class="text-4xl font-bold mb-6 flex gap-x-3 items-center">
				<Briefcase class="size-9"/>
				Web Projects
			</h2>
			<Experience />
		</SectionContainer>
	</main>
</Layout>

