---
import ExperienceItem from "./ExperienceItem.astro"


const EXPERIENCIE = [
    {
        date: 'Actualmente',
        title: 'Creando prototipos de IoT y aplicaciones para gestion de energía renovable.',
        description: 'Domótica para el sector residencial y la agroindustria',
        link: "#",
    },
    {
        date: 'April 2023',
        title: 'Virtual Store with React - PlantaZula',
        description: 'Store of plants and art',
        link: "#",
    },
    {
        date: 'June 2022',
        title: 'LandPage in Vite - EchoGroup',
        description: 'Web page to show EchoGroup Project',
        link: "#",
    },
    {
        date: 'January 2022',
        title: 'Portfolio in JS Vanilla - IngJAVA',
        description: 'Profesional CV of engineer projects',
        link: "#",
    },
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
            EXPERIENCIE.map(experiencie => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experiencie} />
                </li>
            ))
    }
    
</ol>

