---
import ExperienceItem from "./ExperienceItem.astro"


const EXPERIENCIE = [
    {
        date: 'Actualmente',
        title: 'Creando prototipos de IoT y aplicaciones para gestion de energía renovable.',
        description: 'Domótica para el sector residencial y la agroindustria',
        link: "#projects",
        tags: ["Arduino", "ESP32", "MicroPython", "ESP8266", "ESP01"]
    },
    {
        date: 'Abril 2023',
        title: 'Tienda Virtual - PlantaZula',
        description: 'Muestra y venta de productos verdes, plantas y artesanías',
        link: "https://plantazula.pages.dev",
        tags: ["LocalStorage", "Cart", "Form"]
    },
    {
        date: 'Junio 2022',
        title: 'Página de Presentación - EchoGroup',
        description: 'Lanzamiento proyecto EchoGroup',
        link: "https://echogroup.pages.dev",
        tags: ["Transitions", "Internationalize"]
    },
    {
        date: 'Enero 2022',
        title: 'Portafolio Servicios de Ingeniería - IngJAVA',
        description: 'Curriculum Vitae de proyectos de Ingeniería Hidromecánica',
        link: "https://ingjava.web.app",
        tags: ["Engineering", "Simulation", "CAE"]
    },
]
---


<ol class="relative border-s border-gray-200 ml-3">                  
    {
            EXPERIENCIE.map(experiencie => (
                <li class="mb-10 ms-4">
                    <ExperienceItem {...experiencie} />
                </li>
            ))
    }
    
</ol>

