

<footer class="text-right rounded-lg shadow m-12 bg-black/20 backdrop-blur-lg w-full sm:w-[600px] md:w-[720px] lg:w-[900px] mx-auto">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline me-4 md:me-6">Inicio</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
        </li>
        <li>
            <a href="#skills" class="hover:underline me-4 md:me-6">Destrezas</a>
        </li>
    </ul>
    <span class="text-sm sm:text-center text-yellow-200">© 2024 <a href="#top" class="hover:underline">AppJaVaDev</a>
    </span>
    </div>
</footer>
