

<footer class="text-right rounded-lg shadow m-12 bg-black/20 backdrop-blur-lg w-full sm:w-[600px] md:w-[720px] lg:w-[900px] mx-auto">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex items-center justify-between">
      
    <ul class="flex flex-wrap items-center text-sm font-small text-gray-500 sm:mt-0">
        <li>
            <a href="#top" class="hover:underline me-3 md:me-6">Home</a>
        </li>
        <li>
            <a href="#experience" class="hover:underline me-3 md:me-6">Experience</a>
        </li>
        <li>
            <a href="#projects" class="hover:underline me-3 md:me-6">Projects</a>
        </li>
        <li>
            <a href="#skills" class="hover:underline me-3 md:me-6">Skills</a>
        </li>
    </ul>
    
    <span class=" text-sm text-center text-yellow-200">© 2025 <a href="#top" class="hover:underline">appjava.dev</a>
    </span>
    <script type='text/javascript'>kofiwidget2.init('', '#050606', 'N4N61N8G8Z');kofiwidget2.draw();</script>
    </div>
    <script type='text/javascript' src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    
    <!--<span class="text-sm font-small text-gray-500 p-3">Inspired by midudev</span>-->
</footer>
