<header class="flex justify-center items-center text-[12px] md:text-[15px] lg:text-[18px] mt-[12px]">
    
    <nav class="flex flex-row gap-x-6 opacity-80">
        <a href="#top" >Home</a>
        <a href="#experience" >Experience</a>
        <a href="#projects" >Projects</a>
        <a href="#skills" >Skills</a>
    </nav>
</header>