<header class="flex justify-center items-center text-[12px] md:text-[15px] lg:text-[18px] mt-[12px]">
    
    <nav class="flex flex-row gap-x-6 opacity-80">
        <a href="#top" >Inicio</a>
        <a href="#experience" >Experiencia</a>
        <a href="#projects" >Proyectos</a>
        <a href="#skills" >Destrezas</a>
    </nav>
</header>