---

const SKILLS = [
    {
        title: "HTML",
        link: "https://www.pcanytime.co.nz/assets/images/site/html5.png",
    },
    {
        title: "CSS",
        link: "https://pnghq.com/wp-content/uploads/css-logo-png-png-wallpaper-download-79166-768x768.png",
    },
    {
        title: "JS",
        link: "https://e7.pngegg.com/pngimages/640/199/png-clipart-javascript-logo-html-javascript-logo-angle-text.png",
    },
    {
        title: "GIT",
        link: "https://cdn.freebiesupply.com/logos/thumbs/2x/git-icon-logo.png",
    },
    {
        title: "GITHUB",
        link: "https://pngimg.com/uploads/github/github_PNG40.png",
    },
    {
        title: "NODE",
        link: "https://www.opencodez.com/wp-content/uploads/2018/09/node-logo.jpg",
    },
    {
        title: "ELECTRON",
        link: "https://download.logo.wine/logo/Electron_(software_framework)/Electron_(software_framework)-Logo.wine.png",
    },
    {
        title: "ASTRO",
        link: "",
    },
    {
        title: "TAILWIND",
        link: "",
    },
    {
        title: "REACT",
        link: "",
    },
    {
        title: "PYTHON",
        link: "",
    },
    {
        title: "DJANGO",
        link: "",
    },
    {
        title: "ARDUINO",
        link: "",
    },
    {
        title: "ESP01-32-8266",
        link: "",
    },
    {
        title: "MICROPYTHON",
        link: "",
    },
]

---

{
    SKILLS.map(({title}) => (
            
    <span
    class="rounded-full border border-white/10 justify-center items-center
    gap-x-2 py-1 px-2 lg:py-2 lg:px-4 text-xs lg:text-base bg-white/5 hover:scale-110 hover:bg-white/10 transition" 
    {...Astro.props}
    >
        {title}

    </span>
    ))

}
