---
import JsIcon from '../icons/Js.astro';
import HtmlIcon from '../icons/Html.astro';
import CssIcon from '../icons/Css.astro';
import GitHubIcon from '../icons/GitHub.astro';
import NodeIcon from '../icons/Node.astro';
import AstroIcon from '../icons/AstroIcon.astro';
import PythonIcon from '../icons/Python.astro';
import TailIcon from '../icons/Tail.astro';
import ReactIcon from '../icons/React.astro';
import BootIcon from '../icons/Boot.astro';
import DjangoIcon from '../icons/Django.astro';
import ArduinoIcon from '../icons/Arduino.astro';
import EsphomeIcon from '../icons/Esphome.astro';
import EspIcon from '../icons/Esp.astro';
import MicroIcon from '../icons/Micro.astro';
import ElectronIcon from '../icons/Electron.astro';
import BlenderIcon from '../icons/Blender.astro';
import Blender from '../icons/Blender.astro';

const SKILLS = [
    {
        title: "HTML",
        Icon: HtmlIcon,
    },
    {
        title: "CSS",
        Icon: CssIcon,
    },
    {
        title: "JS",
        Icon: JsIcon,
    },
    {
        title: "GITHUB",
        Icon: GitHubIcon,
    },
    {
        title: "NODE",
        Icon: NodeIcon,
    },
    {
        title: "ELECTRON",
        Icon: ElectronIcon,
    },
    {
        title: "ASTRO",
        Icon: AstroIcon,
    },
    {
        title: "REACT",
        Icon: ReactIcon,
    },
    {
        title: "TAILWIND",
        Icon: TailIcon,
    },
    {
        title: "BOOTSTRAP",
        Icon: BootIcon,
    },
    {
        title: "PYTHON",
        Icon: PythonIcon,
    },
    {
        title: "DJANGO",
        Icon: DjangoIcon,
    },
    {
        title: "ARDUINO",
        Icon: ArduinoIcon,
    },
    {
        title: "ESPHOME",
        Icon: EsphomeIcon,
    },
    {
        title: "MICROPYTHON",
        Icon: MicroIcon,
    },
    {
        title: "BLENDER",
        Icon: BlenderIcon,
    },
]

---

{
    SKILLS.map(({title, Icon}) => (
            
    <div class="flex justify-center items-center hover:scale-110 hover:bg-white/1 transition">
     <Icon class="size-7 lg:size-9 "/>
     <p class="text-[12px] px-[3px] font-bold">{title}</p>

    </div>
    ))

}
